<section class="py-5 overflow-hidden">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header d-flex flex-wrap justify-content-between mb-5">
          <h2 class="section-title">Category</h2>
          <div class="d-flex align-items-center">
            <div class="swiper-buttons">
              <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
              <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="category-carousel swiper">
          <div class="swiper-wrapper">
            <!-- Skeleton Loader -->
            <ng-container *ngIf="!categories.length">
              <div *ngFor="let item of [].constructor(9)" class="swiper-slide text-center">
                <div class="image-container shimmer">
                  <div class="skeleton-image"></div>
                </div>
                <div class="skeleton-text shimmer mt-3"></div>
              </div>
            </ng-container>

            <!-- Actual Content -->
            <a *ngFor="let category of categories" class="nav-link swiper-slide text-center" [routerLink]="['/category-details', category._id]">
              <div class="image-container">
                <img [src]="category.image" class="category-image" alt="Category Thumbnail">
              </div>
              <h4 class="fs-6 mt-3 fw-normal category-title">{{ category.name }}</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>